body {
    font-family: 'Montserrat', sans-serif;

}
    // @media (max-width: 375px) {
    //     body {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //     }
    // }

.btn {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.li {
    list-style-image: url(../../assets/li-img.svg);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 16px auto;
}


@media (max-width:375px) {
    .li {
        width: 295px;
        margin: 16px 0;
    }
}

span {
    color: #E77C1A;
}

a {
    text-decoration: none;
}

//! Dropdown menu settings

.header_dropdown-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
}

.header_link-container {
    display: flex;
    align-items: center;
    height: 65px;
    width: 358px;
    background-color: white;
    opacity: 100;
    position: relative;

    .hover-border {
        background-color: #E77C1A;
        height: 100%;
        width: 4px;
        left: 0;
        position: absolute;
        display: none;
    }

    &:hover .hover-border {
        display: block;
    }
}

//! Activate button
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    .dropbtn:hover, .dropbtn:focus {
        background-color: #726e6e;
    }
}

//! Main dropdown container
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -20px;
}

.show {
    display:block!important;
}

.show-flex {
    display:flex!important;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 3em!important;
    }

    h2 {
        font-size: 1em!important;
    }

    h3 {
        font-size: 1em!important;
    }

    p {
        font-size: 0.9em!important;
    }

    span {
        font-size: 1em!important;
    }

    li {
        font-size: 1em!important;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 2.5em!important;
    }

    h2 {
        font-size: 1em!important;
    }

    h3 {
        font-size: 1em!important;
    }

    p {
        font-size: 0.8em!important;
    }

    span {
        font-size: 1em!important;
    }

    li {
        font-size: 0.8em!important;
    }

    a {
        font-size: 0.8em!important;
    }
}