.system-block {
    padding: 100px 247px;  
}

.system-block_info {
    display: flex;
}

.system-block_title {
    width: 771px;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
}

.system-block_list {
    margin-left: 50px;
}