.system-block {
    padding: 100px 247px;  
}

.system-block_info {
    display: flex;
}

.system-block_title {
    width: 771px;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
}

.system-block_list {
    margin-left: 50px;
}

.system-block_scheme {
    width: 90%;
    margin: 0 auto;
}

.system-block-img {
    width: 100%;
}

@media (max-width: 1600px) {
    .system-block {
        padding: 100px;
    }

    .system-block_title {
        font-size: 2rem!important;
    }
}

@media (max-width: 1440px) {
    .system-block_list {
        .li {
            font-size: 1em!important;
        }
    }
    
    .system-block_scheme {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .system-block_title {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 375px) {
    .system-block {
        margin-top: 50px;
        padding: 0;  
    }

    .system-block_info {
        display: flex;
        flex-direction: column;
        width: 375px;
    }

    .system-block_title {
        width: 375px;
        font-size: 1.6em!important;
        line-height: 40px;
    }

    .system-block_list {
        margin: 0;

        .li {
            font-size: 0.8em!important;
        }
    }
}